In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [14]:
import pandas as pd

file_path = '/content/drive/My Drive/Visualisation in data science/data/madrid_2001.csv'
df = pd.read_csv(file_path)
print(df.head(1))

                  date  BEN    CO  EBE  MXY  NMHC       NO_2        NOx  OXY  \
0  2001-08-01 01:00:00  NaN  0.37  NaN  NaN   NaN  58.400002  87.150002  NaN

         O_3   PM10  PXY  SO_2  TCH  TOL   station
0  34.529999  105.0  NaN  6.34  NaN  NaN  28079001

In [15]:
import pandas as pd
import os

# Path to your data directory
base_path = '/content/drive/My Drive/Visualisation in data science/data/'

# Initialize an empty list to store all dataframes
all_dfs = []

# Loop through years 2001 to 2018
for year in range(2001, 2019):
    # Construct the file path
    file_path = f"{base_path}madrid_{year}.csv"

    try:
        # Read the CSV file
        df = pd.read_csv(file_path)

        # Add a year column
        df['year'] = year

        # Append to our list
        all_dfs.append(df)

        print(f"Successfully loaded data for {year}, shape: {df.shape}")

    except FileNotFoundError:
        print(f"Warning: File for year {year} not found at {file_path}")
    except Exception as e:
        print(f"Error processing file for year {year}: {e}")

# Concatenate all dataframes
if all_dfs:
    combined_df = pd.concat(all_dfs, ignore_index=True)

    # Output path
    output_path = f"{base_path}madrid_combined.csv"

    # Export as CSV
    combined_df.to_csv(output_path, index=False)

    print(f"\nCombined data successfully exported to {output_path}")
    print(f"Final dataset shape: {combined_df.shape}")
    print("\nFirst few rows of the combined dataset:")
    print(combined_df.head())
else:
    print("No data was loaded. Please check the file paths.")

Successfully loaded data for 2001, shape: (217872, 17)
Successfully loaded data for 2002, shape: (217296, 17)
Successfully loaded data for 2003, shape: (243984, 17)
Successfully loaded data for 2004, shape: (245496, 18)
Successfully loaded data for 2005, shape: (237000, 18)
Successfully loaded data for 2006, shape: (230568, 18)
Successfully loaded data for 2007, shape: (225120, 18)
Successfully loaded data for 2008, shape: (226392, 18)
Successfully loaded data for 2009, shape: (215688, 18)
Successfully loaded data for 2010, shape: (209448, 18)
Successfully loaded data for 2011, shape: (209928, 15)
Successfully loaded data for 2012, shape: (210720, 15)
Successfully loaded data for 2013, shape: (209880, 15)
Successfully loaded data for 2014, shape: (210024, 15)
Successfully loaded data for 2015, shape: (210096, 15)
Successfully loaded data for 2016, shape: (209496, 15)
Successfully loaded data for 2017, shape: (210120, 17)
Successfully loaded data for 2018, shape: (69096, 17)

Combined data successfully exported to /content/drive/My Drive/Visualisation in data science/data/madrid_combined.csv
Final dataset shape: (3808224, 20)

First few rows of the combined dataset:
                  date  BEN    CO   EBE  MXY  NMHC       NO_2        NOx  \
0  2001-08-01 01:00:00  NaN  0.37   NaN  NaN   NaN  58.400002  87.150002
1  2001-08-01 01:00:00  1.5  0.34  1.49  4.1  0.07  56.250000  75.169998
2  2001-08-01 01:00:00  NaN  0.28   NaN  NaN   NaN  50.660000  61.380001
3  2001-08-01 01:00:00  NaN  0.47   NaN  NaN   NaN  69.790001  73.449997
4  2001-08-01 01:00:00  NaN  0.39   NaN  NaN   NaN  22.830000  24.799999

    OXY        O_3        PM10   PXY  SO_2   TCH    TOL   station  year  PM25  \
0   NaN  34.529999  105.000000   NaN  6.34   NaN    NaN  28079001  2001   NaN
1  2.11  42.160000  100.599998  1.73  8.11  1.24  10.82  28079035  2001   NaN
2   NaN  46.310001  100.099998   NaN  7.85   NaN    NaN  28079003  2001   NaN
3   NaN  40.650002   69.779999   NaN  6.46   NaN    NaN  28079004  2001   NaN
4   NaN  66.309998   75.180000   NaN  8.80   NaN    NaN  28079039  2001   NaN

   NO  CH4
0 NaN  NaN
1 NaN  NaN
2 NaN  NaN
3 NaN  NaN
4 NaN  NaN